* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}


.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading p {
    max-width: 600px;
    margin: 10px 0;
}

.heading p,
.heading h1,
.heading input {
    padding: 10px;
}

input {
    width: 260px;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}


.mainContainer {
    margin-top: 30px;
}


.cards {
    display: flex;
    /* flex-direction: column; */
    
    gap: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.cards img {
    width: 50%;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: 10px;
}

.contentHeader {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.mainContent {
    padding: 10px 0;
}

.mainContent > * {
    margin-bottom: 8px;
}


.firstCard {
    display: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.firstCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.firstCard .mainContent {
    padding: 15px;
}

.firstCard .contentHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


@media (min-width: 1024px) {

    .mainContainer {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        gap: 30px;
    }

    .firstCard {
        display: flex;
        flex-direction: column;
    }

    .cardContainer .cards {
        flex-direction: row;
        height: 180px;
    }

    .cardContainer .cards img {
        width: 40%;
        height: 100%;
    }

    .cardContainer .content {
        flex: 1;
        padding: 10px;
    }
}
